In [142]:
import pandas as pd

Data=pd.read_csv("/content/train.csv")

In [143]:
Data

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,7.88 Lakh,4.75
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.4 kmpl,1120 CC,71 bhp,5.0,NaN,4.00
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0 kmpl,2498 CC,112 bhp,8.0,NaN,2.90
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9 kmpl,998 CC,67.1 bhp,5.0,NaN,2.65
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44 kmpl,936 CC,57.6 bhp,5.0,NaN,2.50

a) Look for the missing values in all the columns and either impute them (replace with mean,
median, or mode) or drop them.

In [144]:
# Check for missing values
Data.isnull().sum()

Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  38
New_Price            5032
Price                   0
dtype: int64

In [145]:
#Impute missing values with mean
Data.fillna(Data.mean(), inplace=True)
#Dropping New_Price
Data.drop('New_Price', axis=1, inplace=True)

<ipython-input-145-5fba72c0502e>:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  Data.fillna(Data.mean(), inplace=True)

In [146]:
Data.isnull().sum()

Unnamed: 0            0
Name                  0
Location              0
Year                  0
Kilometers_Driven     0
Fuel_Type             0
Transmission          0
Owner_Type            0
Mileage               2
Engine               36
Power                36
Seats                 0
Price                 0
dtype: int64

In [147]:
# Assuming data as dataFrame
num_cols = Data.select_dtypes(include=['float64', 'int64']).columns
# Filling missing values with mean for numerical columns
Data[num_cols] = Data[num_cols].fillna(Data[num_cols].mean())

# Assuming data as dataFrame
cat_cols = Data.select_dtypes(include=['object']).columns
# Filling missing values with mode for categorical columns
Data[cat_cols] = Data[cat_cols].fillna(Data[cat_cols].mode().iloc[0])

Data.to_csv('/content/cleanData.csv')

Data.isnull().sum()

Unnamed: 0           0
Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
Price                0
dtype: int64

b) Remove the units from some of the attributes and only keep the numerical values (for
example remove kmpl from “Mileage”, CC from “Engine”, bhp from “Power”, and lakh from
“New_price”).

In [148]:
# Removing units from Mileage, Engine, Power attributes
Data['Mileage'] = Data['Mileage'].str.extract('(\d+\.\d+)').astype(float)
Data['Engine'] = Data['Engine'].str.replace(' CC', '').astype(float)
Data['Power'] = Data['Power'].str.replace(' bhp', '').astype(float)

Data.fillna(Data.mean(), inplace=True)

Data.to_csv('/content/Units_Removed_Data.csv')

Data

<ipython-input-148-8e9c72b48183>:6: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  Data.fillna(Data.mean(), inplace=True)

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.670000,1582.0,126.20,5.0,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.159632,1199.0,88.70,5.0,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.770000,1248.0,88.76,7.0,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.200000,1968.0,140.80,5.0,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.080000,1461.0,63.10,5.0,3.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.400000,1248.0,74.00,5.0,4.75
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.400000,1120.0,71.00,5.0,4.00
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.000000,2498.0,112.00,8.0,2.90
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.900000,998.0,67.10,5.0,2.65
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.440000,936.0,57.60,5.0,2.50

 C) Change the categorical variables (“Fuel_Type” and “Transmission”) into numerical one hot encoded value.

In [149]:
# Mapping Fuel_Type
FT_map = {'Diesel': 0, 'Petrol': 1, 'Electric': 2}
Data['Fuel_Type'] = Data['Fuel_Type'].map(FT_map)

# Mapping Transmission
T_map = {'Manual': 0, 'Automatic': 1}
Data['Transmission'] = Data['Transmission'].map(T_map)

# Mapping Owner_Type
OT_map = {'First': 0, 'Second': 1, 'Third': 2, 'Fourth & Above': 3}
Data['Owner_Type'] = Data['Owner_Type'].map(OT_map)

Data.to_csv('/content/Encoded_Data.csv')

Data

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,0,0,0,19.670000,1582.0,126.20,5.0,12.50
1,2,Honda Jazz V,Chennai,2011,46000,1,0,0,18.159632,1199.0,88.70,5.0,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,0,0,0,20.770000,1248.0,88.76,7.0,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,0,1,1,15.200000,1968.0,140.80,5.0,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,0,0,0,23.080000,1461.0,63.10,5.0,3.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,0,0,0,28.400000,1248.0,74.00,5.0,4.75
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,0,0,0,24.400000,1120.0,71.00,5.0,4.00
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,0,0,1,14.000000,2498.0,112.00,8.0,2.90
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,1,0,0,18.900000,998.0,67.10,5.0,2.65
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,0,0,0,25.440000,936.0,57.60,5.0,2.50

D) Create one more feature and add this column to the dataset (you can use mutate function in
R for this). For example, you can calculate the current age of the car by subtracting “Year” value
from the current year.

In [150]:
# Calculate current year
Cur_Year = pd.Timestamp.now().year
#Creating new feature
Data['Current_Age'] = Cur_Year - Data['Year']

Data.to_csv('/content/Feature_Added_Data.csv')

Data

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price,Current_Age
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,0,0,0,19.670000,1582.0,126.20,5.0,12.50,9
1,2,Honda Jazz V,Chennai,2011,46000,1,0,0,18.159632,1199.0,88.70,5.0,4.50,13
2,3,Maruti Ertiga VDI,Chennai,2012,87000,0,0,0,20.770000,1248.0,88.76,7.0,6.00,12
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,0,1,1,15.200000,1968.0,140.80,5.0,17.74,11
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,0,0,0,23.080000,1461.0,63.10,5.0,3.50,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,0,0,0,28.400000,1248.0,74.00,5.0,4.75,10
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,0,0,0,24.400000,1120.0,71.00,5.0,4.00,9
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,0,0,1,14.000000,2498.0,112.00,8.0,2.90,12
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,1,0,0,18.900000,998.0,67.10,5.0,2.65,11
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,0,0,0,25.440000,936.0,57.60,5.0,2.50,13

e) Perform select, filter, rename, mutate, arrange and summarize with group by operations (or
their equivalent operations in python) on this dataset.

In [151]:
# Select specific columns
Selected_data = Data[['Location','Year', 'Price', 'Mileage', 'Engine', 'Seats']]

In [152]:
# Filter
Filtered_data = Data[Data['Year'] > 2017]
Filtered_data

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price,Current_Age
8,10,Maruti Ciaz Zeta,Kochi,2018,25692,1,0,0,21.56,1462.0,103.25,5.0,9.95,6
26,28,Honda WRV i-VTEC VX,Kochi,2018,37430,1,0,0,17.50,1199.0,88.70,5.0,9.90,6
34,36,Maruti Vitara Brezza ZDi Plus,Kochi,2018,50075,0,0,0,24.30,1248.0,88.50,5.0,8.63,6
65,67,Mercedes-Benz C-Class Progressive C 220d,Coimbatore,2019,15369,0,1,0,0.00,1950.0,194.00,5.0,35.67,5
67,69,Hyundai Creta 1.4 E Plus Diesel,Mumbai,2018,13000,0,0,0,22.10,1396.0,88.70,5.0,10.50,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5771,5940,Maruti Dzire LDI,Pune,2018,27000,0,0,0,28.40,1248.0,73.75,5.0,5.90,6
5772,5941,Renault KWID RXL,Pune,2018,1000,1,0,0,25.17,799.0,53.30,5.0,3.40,6
5794,5964,Hyundai Verna VTVT 1.6 AT SX Option,Mumbai,2018,8000,1,1,0,17.00,1591.0,121.30,5.0,12.85,6
5796,5966,Maruti Wagon R VXI BS IV,Hyderabad,2018,1048,1,0,0,18.90,998.0,67.10,5.0,4.70,6
5800,5970,Mercedes-Benz GLA Class 200 Sport,Kochi,2018,17773,1,1,0,13.70,1991.0,183.00,5.0,26.76,6

In [153]:
# Rename columns
Renamed_data = Filtered_data.rename(columns={'Engine': 'Engine_CC', 'Seats': 'Number_of_Seats','Price': 'Price_Lakhs','Power': 'Power_bhp'})
Renamed_data

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine_CC,Power_bhp,Number_of_Seats,Price_Lakhs,Current_Age
8,10,Maruti Ciaz Zeta,Kochi,2018,25692,1,0,0,21.56,1462.0,103.25,5.0,9.95,6
26,28,Honda WRV i-VTEC VX,Kochi,2018,37430,1,0,0,17.50,1199.0,88.70,5.0,9.90,6
34,36,Maruti Vitara Brezza ZDi Plus,Kochi,2018,50075,0,0,0,24.30,1248.0,88.50,5.0,8.63,6
65,67,Mercedes-Benz C-Class Progressive C 220d,Coimbatore,2019,15369,0,1,0,0.00,1950.0,194.00,5.0,35.67,5
67,69,Hyundai Creta 1.4 E Plus Diesel,Mumbai,2018,13000,0,0,0,22.10,1396.0,88.70,5.0,10.50,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5771,5940,Maruti Dzire LDI,Pune,2018,27000,0,0,0,28.40,1248.0,73.75,5.0,5.90,6
5772,5941,Renault KWID RXL,Pune,2018,1000,1,0,0,25.17,799.0,53.30,5.0,3.40,6
5794,5964,Hyundai Verna VTVT 1.6 AT SX Option,Mumbai,2018,8000,1,1,0,17.00,1591.0,121.30,5.0,12.85,6
5796,5966,Maruti Wagon R VXI BS IV,Hyderabad,2018,1048,1,0,0,18.90,998.0,67.10,5.0,4.70,6
5800,5970,Mercedes-Benz GLA Class 200 Sport,Kochi,2018,17773,1,1,0,13.70,1991.0,183.00,5.0,26.76,6

In [154]:
# Mutate
Renamed_data['Engine_CC'] = Renamed_data['Engine_CC'] / 1000  # Converting CC to Liters
Renamed_data['Engine_CC']

8       1.462
26      1.199
34      1.248
65      1.950
67      1.396
        ...
5771    1.248
5772    0.799
5794    1.591
5796    0.998
5800    1.991
Name: Engine_CC, Length: 395, dtype: float64

In [155]:
# Arrange data
arranged_data = Renamed_data.sort_values(by='Price_Lakhs', ascending=False)

arranged_data.to_csv('/content/Operations_Performed_Data.csv')

arranged_data

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine_CC,Power_bhp,Number_of_Seats,Price_Lakhs,Current_Age
1457,1505,Land Rover Range Rover Sport SE,Kochi,2019,26013,0,1,0,12.65,2.993,255.00,5.0,97.07,5
1917,1974,BMW 7 Series 740Li,Coimbatore,2018,28060,1,1,0,12.05,2.979,320.00,5.0,93.67,6
2035,2095,Mercedes-Benz SLC 43 AMG,Coimbatore,2019,2526,1,1,0,19.00,2.996,362.07,2.0,83.96,5
1830,1885,Mercedes-Benz GLS 350d Grand Edition,Delhi,2018,6000,0,1,0,11.00,2.987,258.00,7.0,79.00,6
2251,2319,Mercedes-Benz E-Class E 350 d,Coimbatore,2019,9312,0,1,0,18.00,2.987,258.00,5.0,78.80,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2475,2558,Datsun redi-GO T Option,Kochi,2018,30953,1,0,0,22.70,0.799,53.64,5.0,3.48,6
5772,5941,Renault KWID RXL,Pune,2018,1000,1,0,0,25.17,0.799,53.30,5.0,3.40,6
5198,5347,Maruti Alto 800 2016-2019 LXI,Mumbai,2018,11000,1,0,0,24.70,0.796,47.30,5.0,3.35,6
353,367,Maruti Alto 800 2016-2019 LXI,Kolkata,2018,26200,1,0,0,24.70,0.796,47.30,5.0,2.90,6
3033,3132,Porsche Cayenne Base,Kochi,2019,14298,1,1,0,13.33,2.995,340.00,5.0,2.02,5

In [156]:
# Summarize with group by operations
summary_data = arranged_data.groupby('Location')['Price_Lakhs'].mean()
summary_data

Location
Ahmedabad     12.900000
Bangalore     15.112500
Chennai       13.983333
Coimbatore    20.797724
Delhi         20.110769
Hyderabad     13.488750
Jaipur         7.631111
Kochi         16.424507
Kolkata        9.089474
Mumbai        16.178621
Pune          12.273913
Name: Price_Lakhs, dtype: float64